$blue : blue;
$red : red;
/* MAIN */
$focus-red: #BD4940;
$primary-red : #E85A4F;
$disabled-red: #e2aaa5;
$light-red : #E98074;
/* SECONDARY */
$focus-grey: #5A6269;
$secondary-grey: #6c757d;

/* PARTICULARS */
$light-grey-description-font: #848380;
$comment-reply: #e4e2e2;
$light-grey-background : #EDEAE5;
$light-grey-font : #b7b5b2;
$light-grey : lightgrey;
$very-light-grey: #f4f4f4;
$white : white;
$black : black;
$grey : grey;
$grey-foot : #42474c;
$box-shadow : rgba(0,0,0,0.75);
$box-shadow-navbar : rgba(0,0,0,1);