.width-100percent {
    width: 100%;
}

.display-flex-align-center {
    align-items: center;
    display: flex;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}