.text-align-center {
    text-align: center;
}

.width-100percent {
    width: 100%;
}

.display-flex-align-center {
    align-items: center;
    display: flex;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.left--20 {
    left: -35px !important;
}

.display-none {
    display: none;
}

.padding-right-5 {
    padding-right: 5px;
}