/*E85A4F
E98074
EDEAE5*/

.main-font {
	font-family: 'Roboto', sans-serif;
}

.application-background {
  background-size:cover;
	background-attachment: fixed;
  background-position: center bottom;
  background-color: #EDEAE5;
  background-image: url('../svg/Flat-Mountains.svg');
  background-repeat: no-repeat;
  padding-bottom: 40px;
  /* background by SVGBackgrounds.com */
}

.navbar-component {
	align-items: center;
	background-color: white;
	display: flex;
	height: 70px;
	position: fixed;
	z-index: 2;
	width: 100%;
	-webkit-box-shadow: 0px -13px 42px 7px rgba(0,0,0,1);
	-moz-box-shadow: 0px -13px 42px 7px rgba(0,0,0,1);
	box-shadow: 0px -13px 42px 7px rgba(0,0,0,1);
}

.no-underline, .no-underline:hover, .no-underline:active, .no-underline:visited, .no-underline:focus {
    text-decoration:none;
}

.logo {
	border: 3px solid black;
	border-radius: 10px;
  	font-family: 'Kosugi', sans-serif;
  	color: black;
 	margin: 10px;
 	padding:4px;
}

.create-post {
	margin-left: auto;
  margin-right: 9px;
}

.dropdown-component {
	color: black;
}

.center-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	min-height: 100%;
	padding-top: 70px;
	position: relative;
}

.post-container {
	background-color: white;
	border-radius: 10px;
	max-height: 450px;
	margin-top: 30px;
	padding: 8px 15px;
	width: 90%;
	max-width: 700px;
	position: relative;
	-webkit-box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.75);
}

.post-header {
	align-items: center;
	display: flex;
	font-size: 12px;
	line-height: 1.5;
}

.post-center {
	display: flex;
	max-width: 100%;
}

.post-center-text {
	max-width: 100%;
}

.post-center-image {
	align-self: center;
	border: 2px solid lightgrey;
	border-radius: 3px;
	max-width: 100px;
	max-height: 100px;
	margin: 10px 10px 10px auto;
}

.post-wrap {
	overflow-wrap: break-word;
}

.hidden {
	visibility: hidden;
}

.header-button {
	background-color: #E85A4F;
	color: white;
	border-radius: 5px;
	display: inline-block;
	height: 23px;
	padding: 2px 5px;
	margin: 0 10px;
}

.post-description-text {
	position: relative;
	max-height: 140px;
	background: -webkit-linear-gradient(rgba(0,0,0,1) 50px, rgba(0,0,0,0) 160px);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	overflow: hidden;
}

.post-info {
	align-items: center;
	color: grey;
	display: flex;
	font-size: 12px;
	line-height: 1.5;
}

.info-item{
	margin:3px 10px;
}

.footer-component {
	background-color: #42474c;
	color: white;
	width: 100%;
	height: 140px;
	min-height: 100px;
	padding: 10px 30px;
	text-align: center;
}

.footer-logo-container {
	display: flex;
	justify-content: center;
}

.footer-logo{
	color: white;
	border-color: white;
	text-align: center;
}

.load-btn {
	margin: 20px;
}

.clickable {
	cursor: pointer;
}

.initial-space {
	margin-top: 15px;
}

.score-count {
	margin-right: 5px;
	margin-left: 4px;
}

.icon-color {
	color: grey;
}

.icon-color-selected {
	color: blue;
}

.no-btn {
	background: none;
	border: none;
	cursor: pointer;
}

.no-btn:focus {
	outline: none;
	border: none;
}


.votes-controls {
	height: 18px;
	display: flex;
}

textarea {
   resize: none !important;
}
