.app-btn-primary,
.app-btn-primary:visited,
.app-btn-primary:focus {
    color: white;
    cursor: pointer;
    background-color: #E85A4F;
    border-color: #E85A4F;
    border-radius: 0.25rem;
    height: 40px;
}

.app-btn-primary:focus {
  outline-color: #BD4940;
}

.app-btn-primary:hover {
  background-color: #BD4940;
  border-color: #BD4940;
}

.app-btn-primary:active {
  background-color: #BD4940;
  border-color: #BD4940;
  outline-color: #BD4940;
}

.app-btn-primary-disabled,
.app-btn-primary-disabled:focus {
  border: 0;
  color: white;
  background-color: #e2aaa5;
  border-radius: 0.25rem;
  height: 40px;
  outline: 0;
}


.app-btn-secondary,
.app-btn-secondary:visited,
.app-btn-secondary:focus {
    color: white;
    cursor: pointer;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 0.25rem;
    height: 40px;
}

.app-btn-secondary:focus {
  outline-color: #5A6269;
}

.app-btn-secondary:hover {
  background-color: #5A6269;
  border-color: #5A6269;
}

.app-btn-secondary:active {
  background-color: #5A6269;
  border-color: #5A6269;
  outline-color: #5A6269;
}

.app-btn-outline,
.app-btn-outline:visited,
.app-btn-outline:focus {
    color:  #E85A4F;
    cursor: pointer;
    background-color: white;
    border: 1px solid  #E85A4F;
    border-radius: 0.25rem;
    height: 40px;
}

.app-btn-outline:focus {
  outline-color:  #E85A4F;
  color: white
}

.app-btn-outline:hover {
  background-color:   #E85A4F;
  border-color:  #E85A4F;
  color: white
}

.app-btn-outline:active {
  background-color: #E85A4F;
  border-color:  #E85A4F;
  color: white;
  outline-color:  #E85A4F;
}

.all-post-btn {
  margin: 0 15px;
}
