.group-component {
	background-color: white;
  border-bottom: 1px solid lightgrey;
	overflow: auto;
	width: 100%;
  padding: 30px 10px 10px 10px;
	position: relative;
}

.group-description {
  text-align: center;
	overflow-wrap: break-word;
	white-space: pre-line;
  padding: 5px 25px;
}

.group-footer {
  align-items: center;
  display: flex;
	justify-content: center;
}

.owned-by {
	font-weight: bold;
}

.group-owner-btn {
	background-color: #E85A4F;
	color: white;
	border-radius: 5px;
	display: inline-block;
	font-weight: normal;
	height: 25px;
	padding: 2px 5px;
	margin: 0 10px;
}

.margin-left-auto {
	margin-left: auto;
}

.group-component-title {
  text-align: center;
}
