<div id="{{comment}}" class="comment">
   	<div class="comment-header">
    	<span class="header-button clickable" ng-click="gotoProfile(comment.owner.username)">
    		{{comment.owner.username}}
    	</span>
     	<span><strong>
		    {{comment.date | timeAgo}}
		</strong></span>
		<i ng-if="(loggedUser.userid == post.group.owner.userid) || (loggedUser.admin) || (loggedUser.userid == post.owner.userid) || (loggedUser.userid == comment.owner.userid)" class="header-button-delete fas fa-trash-alt clickable" ng-click="deleteConfirmModal({group: post.group, post: post, comment: comment}, 'comment')"></i>
	</div>
	<hr class="comment-separator">
	<div class="comment-component-content">
		{{comment.content}}
	</div>
	<div class="comment-footer">
 		<div class="info-item votes-controls">
 			<div ng-if="isLoggedIn">
		 		<div class="form-group">
		 			<button class="no-btn" ng-click="upvoteComment(post.group.name, post.postid, comment)">
						<i ng-if="comment.userVote == 1" class="fas fa-arrow-up icon-color-selected"></i>
						<i ng-if="comment.userVote != 1" class="fas fa-arrow-up icon-color"></i>
					</button>
				</div>
			</div>
			<strong class="score-count">
				{{comment.votes}} {{(!loggedUser ? 'comments.votes' : '') | translate}}
			</strong>
			<div ng-if="isLoggedIn">
				<div class="form-group">
					<button class="no-btn" ng-click="downvoteComment(post.group.name, post.postid, comment)">
						<i ng-if="comment.userVote == -1" class="fas fa-arrow-down icon-color-selected"></i>
						<i ng-if="comment.userVote != -1" class="fas fa-arrow-down icon-color"></i>
					</button>
				</div>
			</div>
		</div>
		<div ng-if="isLoggedIn" ng-click="showReplyForm($event)" class="comment-footer-button reply-button clickable">
			<strong>
				{{'comments.reply.button.message' | translate}}
			</strong>
		</div>
		<div ng-if="comment.replies > 0" class="info-item">
			<strong ng-if="comment.replies == 1">
				{{comment.replies}} {{'comments.moreReply.button.message' | translate}}
			</strong>
			<strong ng-if="comment.replies > 1">
				{{comment.replies}} {{'comments.moreReplies.button.message' | translate}}
			</strong>					
		</div>
	</div>
	<!-- Reply Comment Form   -->
	<div class="reply-comment-form">
		<form name="createCommentReplyForm" accept-charset="UTF-8" novalidate>
			<div ng-if="isLoggedIn">
				<div class="form-group">
					<textarea path="content" class="form-control" id="reply-comment-content" rows="3" placeholder="{{'addComment.placeholder' | translate}}" name="content" ng-model="newCommentReply.content" ng-minlength="1" ng-maxlength="1000" ng-required="true"></textarea>
					<span ng-show="((createCommentReplyForm.content.$error.required || createCommentReplyForm.content.$error.minlength || createCommentReplyForm.content.$error.maxlength) && submitted)" class="formError">
		                {{'Size.createCommentForm.content' | translate}}
		            </span>
				</div>
				<div class="button-to-the-right">
					<button type="submit" ng-click="doSubmit(createCommentReplyForm, comment)" class="reply-button-submit create-comment-btn app-btn-primary">
						{{'createCommentConfirmation.button.message' | translate}}    
					</button>
				</div>
			</div>
		</form>
	</div>
	<div ng-repeat="comment in comment.repliesList | unique: 'commentid'">
		<comment-item></comment-item>
	</div>
	<div class="info-item comment-show-more-text">
		<strong ng-if="(!comment.repliesList && comment.replies > 0)" ng-click="loadMoreReplies(comment)" class="clickable">
			{{'comments.showReplies.button.message' | translate}} ({{comment.repliesList ? (comment.replies - (comment.repliesList | unique: 'commentid').length) : comment.replies}})
			<i class="fas fa-chevron-down"></i>
		</strong>
		<strong ng-if="(comment.repliesList && comment.replies - (comment.repliesList | unique: 'commentid').length > 0)" ng-click="loadMoreReplies(comment)" class="clickable">
			{{'comments.showMoreReplies.button.message' | translate}} ({{comment.repliesList ? (comment.replies - (comment.repliesList | unique: 'commentid').length) : comment.replies}})
			<i class="fas fa-chevron-down"></i>
		</strong>				
	</div>	         
</div>