<nav class="navbar-component navbar-component-external">
	<a class="no-underline first-logo clickable" ng-click="home(false)">
		<h2 class="logo logo-full">Pawddit.</h2>
		<h2 class="logo logo-reduced">P.</h2>
	</a>
	<div class="dropdown show drop-menu">
	  	<button class="dropdown-btn dropdown-toggle" href="" id="dropdownMenuNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  		<div ng-if="navbar.currentPage == 'group' || navbar.currentPage == 'post'">
				<i class="dropdown-icon fas fa-users"></i>
				<div class="dropdown-selected-group-overflow">{{navbar.currentPageText}}</div>
			</div>
			<div ng-if="navbar.currentPage == 'allPosts'">
				<i class="dropdown-icon fas fa-list"></i>
				{{navbar.currentPageText | translate}}
			</div>
			<div ng-if="navbar.currentPage == 'profile'">
				<i class="dropdown-icon fas fa-user"></i>
				{{navbar.currentPageText}}
			</div>
			<div ng-if="navbar.currentPage == 'groups'">
				<i class="dropdown-icon fas fa-users"></i>
				{{'dropdown.button.groups.message' | translate}}
			</div>
	  	</button>
	  	<div class="dropdown-menu max-height-270 overflow-y-scroll" aria-labelledby="dropdownMenuNav">
	    	<a class="dropdown-item" ng-href="#/all"><i class="dropdown-icon fas fa-list"></i>
				{{'dropdown.button.all.message' | translate}}
			</a>
			<div class="dropdown-groups-text">
				{{'dropdown.button.groups.title' | translate}}
			</div>
			<a class="dropdown-item" ng-href="#/groups"><i class="dropdown-icon fas fa-users"></i>
				{{'dropdown.button.groups.message' | translate}}
			</a>
			<div class="dropdown-groups-text">
				{{'dropdown.button.other.title' | translate}}
			</div>
			<a class="dropdown-item" ng-click="loginModal()"><i class="dropdown-icon fas fa-sign-in-alt"></i>
				{{'login.button.message' | translate}}
			</a>
			<a class="dropdown-item" ng-click="registerModal()"><i class="dropdown-icon fas fa-user-plus"></i>
				{{'register.button.message' | translate}}
			</a>
		</div>
	</div>
	<div ng-if="navbar.currentPage == 'group' || navbar.currentPage == 'allPosts' || navbar.currentPage == 'feedPosts'" class="sort-indicator">
		{{'dropdown.sort.button.title' | translate}}
	</div>
	<div ng-if="navbar.currentPage == 'group' || navbar.currentPage == 'allPosts' || navbar.currentPage == 'feedPosts'" class="dropdown show">
	  	<button class="dropdown-btn dropdown-toggle" href="" id="dropdownSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  		<div ng-if="navbar.sort == 'new'">
				<i class="dropdown-icon fas fa-certificate"></i>
				{{'dropdown.sort.button.new.message' | translate}}
			</div>
	  		<div ng-if="navbar.sort == 'top'">
				<i class="dropdown-icon fas fa-fire"></i>
				{{'dropdown.sort.button.top.message' | translate}}
			</div>
			<div ng-if="navbar.sort == 'controversial'">
				<i class="dropdown-icon dropdown-bull fas fa-bullhorn"></i>
				{{'dropdown.sort.button.controversial.message' | translate}}
			</div>
	  	</button>
	  	<div class="dropdown-menu" aria-labelledby="dropdownSort">
			<a ng-if="navbar.sort != 'new'" class="dropdown-item" ng-click="changeSort('new')"><i class="dropdown-icon fas fa-certificate"></i>
				{{'dropdown.sort.button.new.message' | translate}}<br>
			</a>
	    	<a ng-if="navbar.sort != 'top'" class="dropdown-item" ng-click="changeSort('top')"><i class="dropdown-icon fas fa-fire"></i>
				{{'dropdown.sort.button.top.message' | translate}}<br>
			</a>
			<a ng-if="navbar.sort != 'controversial'" class="dropdown-item" ng-click="changeSort('controversial')"><i class="dropdown-icon dropdown-bull fas fa-bullhorn"></i>
				{{'dropdown.sort.button.controversial.message' | translate}}<br>
			</a>
	  	</div>
	</div>
	<div class="search-navbar">
		<div class="flex-column-center">
		    <input id="searchGroup" list="groupsFound" class="form-control mr-sm-2" type="search" autocomplete="off" placeholder="{{'searchGroups.placeholder' | translate}}" aria-label="Search">
		    <div class="list-group" id="groupsFound"></div>
		</div>
		<a id="searchGroupForm" class="create-post" ng-href="#/groups">
			<button class="app-btn-outline" role="button">
				{{'search.button.message' | translate}}
			</button>
		</a>
	</div>
	<a class="login-btn margin-left-180-150" ng-click="loginModal()">
		<button  role="button" class="app-btn-primary login-btn">
			{{'login.button.message' | translate}}
		</button>
	</a>
	<a class="register-btn" ng-click="registerModal()">
		<button  role="button" class="app-btn-primary">
			{{'register.button.message' | translate}}
		</button>
	</a>
</nav>
