<div class="modal-content">
  <div class="modal-header group-modal-header">
    <h2 ng-if="type == 'allGroups' && search && groups.length > 0">
      {{'groupsSearchResult.title' | translate}}
    </h2>
    <h2 ng-if="type == 'allGroups' && search && groups.length == 0">
      {{'noGroups.found.message' | translate}}
    </h2>
    <h2 ng-if="type == 'allGroups' && !search && groups.length > 0">
      {{'groups.title' | translate}}
    </h2>
    <h2 ng-if="type == 'allGroups' && !search && groups.length == 0 && isLoggedIn">
      {{'noGroups.made.signedIn.message' | translate}}
      <br>
      <a class="create-group" ng-click="createGroupFromModal()">
        <button class="app-btn-secondary margin-top-10" role="button">
          <span class="create-group-icon"><i class="plus-icon-margin fas fa-plus"></i><i class="fas fa-users"></i></span>
          <span class="create-group-text">
            {{'createGroup.button.message' | translate}}
          </span>
        </button>
      </a>
    </h2>
    <h2 ng-if="type == 'allGroups' && !search && groups.length == 0 && !isLoggedIn">
      {{'noGroups.made.signedOut.message' | translate}}
      <a class="login-btn" ng-click="login()">
        <button  role="button" class="app-btn-primary login-btn">
          {{'login.button.message' | translate}}
        </button>
      </a> 
    </h2>
    <h2 ng-if="type == 'myGroups' && groups.length > 0">
      {{'myGroups.title' | translate}}
    </h2>
    <h2 ng-if="type == 'myGroups' && groups.length == 0">
      {{'noGroups.joined.message' | translate}}
      <br>
      <a class="create-group" ng-click="createGroupFromModal()">
        <button class="app-btn-secondary margin-top-10" role="button">
          <span class="create-group-icon"><i class="plus-icon-margin fas fa-plus"></i><i class="fas fa-users"></i></span>
          <span class="create-group-text">
            {{'createGroup.button.message' | translate}}
          </span>
        </button>
      </a>
    </h2>
    <h2 ng-if="type == 'recommendedGroups' && groups.length > 0">
      {{'recommendedGroups.title' | translate}}
    </h2>
    <h2 ng-if="type == 'recommendedGroups' && groups.length == 0">
      {{'noGroups.toRecommend.message' | translate}}
    </h2>
    <span class="clickable group-modal-close" data-dismiss="modal" ng-click="cancel()" >
      <i class="fas fa-times group-modal-close"></i>
    </span>
  </div>
  <div class="modal-body modal-body-groups">
    <div ng-if="groups.length > 0" infinite-scroll='loadMoreGroups()' infinite-scroll-disabled="loadingGroups || noMoreGroups" infinite-scroll-container="'.modal-body-groups'">
      <div ng-repeat="group in groups track by group.name">
        <div class="clickable group-list-component margin-left-auto margin-right-auto margin-top-10 margin-bottom-10 " ng-click=gotoGroup(group.name)>
          <div class="group-list-component-header">
            <h5 class="group-list-component-name">
              {{group.name}}
            </h5>
            <span class="group-list-component-owned-by">
              {{'groupMembers.owner.lower.message' | translate}}
            </span>
            <span class="clickable group-list-component-owner" ng-click="gotoProfile(group.owner.username)">
              {{group.owner.username}}
            </span>
          </div>
          <div class="group-list-component-info">
            <div class="group-list-description">
              {{group.description}}
            </div>
            <strong>{{group.suscriptors}}<i class="group-list-component-members fas fa-users"></i></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
