<div class="group-component">
	<h2 class="group-component-title">{{group.name}}</h2>
	<p class="group-description">
		{{group.description}}
	</p>
	<hr>
	<div class="group-footer">
		<div class="info-item owned-by margin-left-auto ">
			{{'groupMembers.owner.message' | translate}}
			<span class="group-owner-btn clickable" ng-click="gotoProfile(group.owner.username)">{{group.owner.username}}</span>
		</div>
		<div class="info-item">
		  	<strong>
		  		<i class="fas fa-users"></i>
		  		{{group.suscriptors}} {{(group.suscriptors == 1 ? 'groupMember.message' : 'groupMembers.message') | translate}}
		  	</strong>
		</div>
		<div ng-if="isLoggedIn && group.userSub" class="left-border-black">
			<button class="app-btn-primary" role="button" ng-click="createPostModal(group)">
				<span class="create-post-icon"><i class="plus-icon-margin fas fa-plus"></i><i class="fas fa-sticky-note"></i></span>
				<span class="create-post-text">
					{{'createPost.button.message' | translate}}
				</span>
			</button>
		</div>
		<div ng-if="isLoggedIn && (loggedUser.userid != group.owner.userid)" class="margin-right-auto">
			<button ng-if="!group.userSub" class="app-btn-primary margin-left-10" ng-click="subscribe(group)">
				{{'joinGroup.button.message' | translate}}
			</button>
			<button ng-if="group.userSub" class="app-btn-primary margin-left-10" ng-click="unsubscribe(group)">
				{{'leaveGroup.button.message' | translate}}
			</button>
		</div>
		<i ng-if="loggedUser.userid == group.owner.userid || loggedUser.admin" class="header-button-delete-group fas fa-trash-alt clickable" ng-click="deleteConfirmModal({group: group}, 'group')"></i>
	</div>
</div>
