<div class="application-background">
	<div class="center-content">
		<div class="post-component">
           	<div class="post-header">
             	<span class="header-button clickable" ng-click="gotoProfile(post.owner.username)">
             		{{post.owner.username}}
             	</span>
             	<span><strong>
				    {{'postedIn.message' | translate}}
			    </strong></span>
             	<a class="no-underline" ng-href="#/groups/{{post.group.name}}">
               		<span class="header-button">{{post.group.name}}</span>
             	</a>
             	<span><strong>
             		{{post.date | timeAgo}}
             	</strong></span>
			 	<i ng-if="(loggedUser.userid == post.group.owner.userid) || (loggedUser.admin) || (loggedUser.userid == post.owner.userid)" class="header-button-delete fas fa-trash-alt clickable" ng-click="deleteConfirmModal({group: post.group, post: post}, 'post')"></i>
           	</div>
           	<hr>
           	<h2 class="post-wrap">{{post.title}}</h2>
           	<br>
           	<div class="post-wrap">
            	{{post.content}}
           	</div>
			<img ng-if="post.imageid" class="image-post" ng-src="{{getImageURL(post.imageid)}}" />
           	<br>
           	<div class="post-info">
           		<div class="info-item">
			        <strong><i class="fas fa-comment"></i>
			            {{post.comments}} {{'comments.message' | translate}}
			        </strong>
			    </div>
				<div ng-if="isLoggedIn" class="info-item votes-controls">
				    <div>
						<div class="form-group">
							<button class="no-btn" ng-click="upvotePost(post.group.name, post.postid)">
								<i ng-if="post.userVote == 1" class="fas fa-arrow-up icon-color-selected"></i>
								<i ng-if="post.userVote != 1" class="fas fa-arrow-up icon-color"></i>
							</button>
						</div>
					</div>
					<strong class="score-count">{{post.votes}}</strong>
				    <div>
						<div class="form-group">
							<button class="no-btn" ng-click="downvotePost(post.group.name, post.postid)">
								<i ng-if="post.userVote == -1" class="fas fa-arrow-down icon-color-selected"></i>
								<i ng-if="post.userVote != -1" class="fas fa-arrow-down icon-color"></i>
							</button>
						</div>
					</div>
				</div>
		   		<div ng-if="!isLoggedIn" class="info-item">
					<strong class="score-count">
						{{post.votes}} {{'posts.votes' | translate}}
					</strong>
				</div>
           </div>
           <hr>
           <div class="post-component-comments">
             	<h4>
             		{{'postCommentsTitle.title' | translate}}
             	</h4>
             	<!-- Create Comment -->
				<form name="createCommentForm" accept-charset="UTF-8" novalidate>
					<div ng-if="isLoggedIn">
						<div class="form-group">
			   				<textarea path="content" class="form-control" id="comment-content" rows="3" placeholder="{{'addComment.placeholder' | translate}}" name="content" ng-model="newComment.content" ng-minlength="1" ng-maxlength="1000" ng-required="true"></textarea>
			   				<span ng-show="((createCommentForm.content.$error.required || createCommentForm.content.$error.minlength || createCommentForm.content.$error.maxlength) && submitted)" class="formError">
	                        	{{'Size.createCommentForm.content' | translate}}
	                    	</span>
			   			</div>
	                  	<button type="submit" ng-click="doSubmit(createCommentForm, null)" class="create-comment-btn app-btn-primary">
	                  		{{'createCommentConfirmation.button.message' | translate}}
	                  	</button>
                  	</div>
				</form>
				<!-- Sign in suggestion-->
				<h5 ng-if="!isLoggedIn">
					{{'comments.suggestion' | translate}}
				</h5>
				<!-- Comment List -->
				<div ng-if="comments.length > 0" infinite-scroll='loadMoreComments()' infinite-scroll-disabled="loadingComments || noMoreComments">
					<div ng-repeat="comment in comments track by comment.commentid">
						<comment-item></comment-item>
					</div>
	        	</div>
          	</div>
       	</div>
	</div>
</div>