<div class="register form-container">
	<div  class="modal-header">
		<h2>
			{{'register.title' | translate}}
		</h2>
	</div>
	<div class="modal-body">
		<form ng-submit = doSubmit() name="registerForm" method="post" novalidate>
			<div class="form-group">
				<label for="exampleInputEmail1">
					{{ 'registerEmailAddress.title' | translate}}
				</label>
				<input class="form-control" ng-model="newUser.email" id="exampleInputEmail1" name="email" placeholder="{{'registerEmailAddress.placeholder' | translate}}" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/>
				<small id="emailHelp" class="form-text text-muted">
					{{'weWillNeverShareYourEmail.message' | translate}}
				</small>
				<span class="formError" ng-show="(registerForm.email.$error.pattern && registerForm.$submitted)">
					{{'Email' | translate}}
				</span>
				<span class="formError" ng-show="(registerForm.email.$error.required && registerForm.$submitted)">
					{{'NotEmpty.registerForm.email' | translate}}
				</span>
				<span class="formError" ng-show="(emailMatch && registerForm.$submitted)">
					{{'EmailNotRepeated.registerForm.email' | translate}}
				</span>
			</div>
			<div class="form-group">
				<label for="exampleInputUsername">
					{{'registerUsername.title' | translate}}
				</label>
				<input type="text" ng-model="newUser.username" class="form-control" id="exampleInputUsername" name="username" placeholder="{{'registerUsername.placeholder' | translate}}" ng-pattern="/^[a-zA-Z0-9]+$/" ng-required="true" ng-minlength="4" ng-maxlength="100"/>
				<span class="formError" ng-show="((registerForm.username.$error.pattern) && registerForm.$submitted)">
					{{'Pattern.registerForm.username' | translate}}
				</span>
				<span class="formError" ng-show="((registerForm.username.$error.required || registerForm.username.$error.maxlength || registerForm.username.$error.minlength) && registerForm.$submitted)">
					{{'Size.registerForm.username' | translate}}
				</span>
				<span class="formError" ng-show="(usernameUsed && registerForm.$submitted)">
					{{'EmailNotRepeated.registerForm.email' | translate}}
				</span>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">
					{{'registerPassword.title' | translate}}
				</label>
				<input type="password" ng-model="newUser.password" class="form-control" name="password" id="exampleInputPassword1" placeholder="{{'registerPassword.placeholder' | translate}}" ng-minlength="6" ng-maxlength="100" ng-required="true"/>
				<span class="formError" ng-show="((registerForm.password.$error.required || registerForm.password.$error.maxlength || registerForm.password.$error.minlength) && registerForm.$submitted)">
					{{'Size.registerForm.password' | translate}}
				</span>
			</div>
			<div class="form-group">
				<label for="exampleInputConfirmPassword">
					{{'registerConfirmPassword.title' | translate}}
				</label>
				<input type="password" class="form-control" ng-model="newUser.confirmPassword" name="confirmPassword" id="exampleInputConfirmPassword" placeholder="{{'registerConfirmPassword.placeholder' | translate}}" ng-minlength="6" ng-maxlength="100">
				<span class="formError" ng-show="(passwordNotMatch && registerForm.$submitted)">
					{{'MatchingPasswords.registerForm.repeatPassword' | translate}}
				</span>
			</div>
			<div class="modal-footer">
				<button type="submit" class="app-btn-primary login-btn">
					{{'registerSubmit.button.message' | translate}}
				</button>
			</div>
		</form>
	</div>
</div>