@import 'partials/colors';

.activity-component {
	background-color: $white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin: 30px 10px 0 10px;
	max-height: 850px;
	max-width: 800px;
	min-height: 850px;
	position: relative;
	overflow: hidden;
	padding: 8px 15px;
	width: 90%;
	/* added shadows */
	-webkit-box-shadow: 0px 4px 18px -4px $box-shadow;
	-moz-box-shadow: 0px 4px 18px -4px $box-shadow;
	box-shadow: 0px 4px 18px -4px $box-shadow;
}

.activity-posts-component {
	background-color: $white;
	border-radius: 10px;
	margin-top: 30px;
	max-height: 450px;
	padding: 8px 15px;
	position: relative;
	width: 100%;
	/* added shadows */
	-webkit-box-shadow: 0px 4px 18px -4px $box-shadow;
	-moz-box-shadow: 0px 4px 18px -4px $box-shadow;
	box-shadow: 0px 4px 18px -4px $box-shadow;
}

.activity-comments-component {
	border-left: 3px solid $light-grey;
	margin-top: 15px;
	padding: 10px;
	width: 100%;
}

.center-posts {
	align-items: center;
	display: flex;
	flex-direction: column;
}


.activity {
	display: flex;
	height: 100px;
	justify-content: space-around;
	margin-bottom: 10px;
	margin-top: 20px;
	padding-bottom: 17px;
	width: 100%;
}

.selected-history {
	font-weight: bolder;
}

.username-title {
	margin: 10px auto 40px auto;
}

.margin-title {
	margin-left: 5px;
}

.lightgrey {
	color: $grey;
}

.user-image-container-in-modal-no-picture {
	color: $light-grey;
	border: 2px solid $light-grey;
	border-radius: 10px;
	height: 60px;
	margin: 10px auto;
	max-width: 60px;
	min-height: 60px;
	padding: 4px;
	text-align: center;
}

.user-image-container-in-modal {
	border: 2px solid $light-grey;
	border-radius: 3px;
	display: inline-block;
	margin: 10px auto;
}

.justify-content-center {
	display: flex;
	justify-content: center;
}

.user-image-container-no-picture {
	color: $light-grey;
	border: 2px solid $light-grey;
	border-radius: 10px;
	height: 60px;
	margin: 10px auto;
	min-height: 60px;
	padding: 4px;
	text-align: center;
}

.user-image-container {
	border: 2px solid $light-grey;
	border-radius: 3px;
	margin: 10px auto;
}

.edit-prfile-image-modal-opener {
	color: $black;
	font-weight: bolder;
	margin: 20px auto;
}

.edit-prfile-image-modal-opener:hover {
	text-decoration: underline;
}

.center-column {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.profile-picture {
	max-height: 180px;
	display: block;
	max-width: 180px;
}
