$blue : blue;
$red : red;
$primary-red : #E85A4F;
$light-red : #E98074;
$light-grey-background : #EDEAE5;
$light-grey-no-posts : #b7b5b2;
$light-grey : lightgrey;
$white : white;
$black : black;
$grey : grey;
$grey-foot : #42474c;
$box-shadow : rgba(0,0,0,0.75);
$box-shadow-navbar : rgba(0,0,0,1);